@font-face {
	font-family: "SourceHanSans";
	src: url("SourceHanSansHC-Light.otf");
	font-display: swap;
}
@font-face {
	font-family: "SourceHanSans";
	src: url("SourceHanSansHC-Medium.otf");
	font-weight: 500;
	font-display: swap;
}
@font-face {
	font-family: "SourceHanSans";
	src: url("SourceHanSansHC-Bold.otf");
	font-weight: bold;
	font-display: swap;
}
body {
	font-family: "SourceHanSans", "微軟正黑體", "Microsoft JhengHei", "微软雅黑", "Microsoft YaHei", "Arial", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", "Helvetica", sans-serif;
	font-size: 20px;
	background-color: #fdfdfd;
}
#container {
	position: absolute;
	top: 25px;
	left: 30px;
	right: 30px;
	padding-bottom: 30px;
}
h1 {
	margin: 0 0 5px;
	font-size: 30px;
	padding-bottom: 3px;
	border-bottom: 1px solid #98cbad;
	font-weight: normal;
}
h2 {
	margin: 15px 0 10px;
	font-size: 24px;
	padding-bottom: 3px;
	border-bottom: 1px solid;
	font-weight: 500;
}
#main {
	overflow: hidden;
}
#origin-title {
	border-bottom-color: #cb98ad;
}
#target-title {
	border-bottom-color: #ad98cb;
}
#origin {
	font-family: "SourceHanSans", "微軟正黑體", "Microsoft JhengHei", "微软雅黑", "Microsoft YaHei", "Arial", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", "Helvetica", sans-serif;
	font-size: 20px;
	font-weight: normal;
	padding: 5px;
	width: 100%;
	height: 300px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid grey;
	border-radius: 3px;
	background-color: white;
	outline: none;
	-webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	resize: none;
}
#target {
	padding: 5px;
	height: 300px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid grey;
	border-radius: 3px;
	background-color: white;
	-webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
	color: red;
	overflow: auto;
	white-space: pre-wrap;
}
#target span {
	color: black;
}
#target s {
	text-decoration: none;
	color: silver;
	font-size: 16px;
	vertical-align: middle;
}
#target b {
	font-weight: normal;
	position: relative;
	color: green;
	font-size: 48px;
	line-height: 0;
	width: 0;
	left: -10px;
}
#target i {
	font-style: normal;
	color: darkgrey;
}
@media (max-width: 1000px) {
	#origin, #target {
		height: 250px;
	}
}
@media (max-width: 850px) {
	#container {
		display: flex;
		flex-direction: column;
	}
	#options {
		order: 1;
	}
}
#options {
	float: right;
	font-size: 18px;
}
#options-title {
	margin-left: 44px;
	border-bottom-color: #98adcb;
}
#options div {
	margin-left: 30px;
}
label {
	cursor: pointer;
	font-family: "SourceHanSans", "微軟正黑體", "Microsoft JhengHei", "微软雅黑", "Microsoft YaHei", "Arial", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", "Helvetica", sans-serif;
	font-size: 20px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
input {
	cursor: pointer;
	width: 18px;
	height: 18px;
	position: relative;
	top: 2px;
	margin-left: 16px;
	margin-right: 8px;
}
:checked + label ~ .false-only, :not(:checked) + label ~ .true-only {
	opacity: 0.4;
	pointer-events: none;
}
:checked + label ~ .false-only > label:after {
	content: "(False only)";
	font-weight: bold;
	color: brown;
	font-size: 16px;
	margin-left: 5px;
}
:not(:checked) + label ~ .true-only > label:after {
	content: "(True only)";
	font-weight: bold;
	color: brown;
	font-size: 16px;
	margin-left: 5px;
}
[checked]:not(:checked) + label:after, :not([checked]):checked + label:after {
	content: "(Not Default)";
	color: green;
	font-size: 14px;
	margin-left: 5px;
}
[unsuggested] + label {
	color: orange;
}
[unsuggested][checked]:not(:checked) + label:after {
	content: "(WARNING: False is Unsuggested)";
	font-weight: bold;
	color: red;
	font-size: 20px;
	margin-left: 5px;
}
[unsuggested]:not([checked]):checked + label:after {
	content: "(WARNING: True is Unsuggested)";
	font-weight: bold;
	color: red;
	font-size: 20px;
	margin-left: 5px;
}
[compatibility]:checked + label:after {
	content: "(Requires Unicode 12.0 Support)";
	font-weight: bold;
	color: magenta;
	font-size: 16px;
	margin-left: 5px;
}