body {
	font-family: Cantarell, --font-cantarell, "Noto Sans CJK JP", "Noto Sans JP", --font-noto-sans-jp, -apple-system,
				 BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 20px;
	background-color: #fdfdfd;
}
#container {
	position: absolute;
	top: 25px;
	left: 30px;
	right: 30px;
	padding-bottom: 30px;
}
h1 {
	margin: 0 0 5px;
	font-size: 30px;
	padding-bottom: 3px;
	border-bottom: 1px solid #98cbad;
	font-weight: normal;
}
h2 {
	margin: 15px 0 10px;
	font-size: 24px;
	padding-bottom: 3px;
	border-bottom: 1px solid;
	font-weight: 500;
}
#main {
	overflow: hidden;
}
#origin-title {
	border-bottom-color: #cb98ad;
}
#target-title {
	border-bottom-color: #ad98cb;
}
#origin {
	font-family: Cantarell, --font-cantarell, "Noto Sans CJK HK", "Noto Sans HK", --font-noto-sans-hk, -apple-system,
				 BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 20px;
	font-weight: normal;
	padding: 5px;
	width: 100%;
	height: 300px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid grey;
	border-radius: 3px;
	background-color: white;
	outline: none;
	-webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	resize: none;
}
#target {
	padding: 5px;
	height: 300px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid grey;
	border-radius: 3px;
	background-color: white;
	-webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
	color: red;
	overflow: auto;
	white-space: pre-wrap;
	-webkit-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	user-select: all;
}
#target .raw {
	color: red;
}
#target .substituted {
	color: black;
}
#target .separator {
	color: darkgrey;
}
@media (max-width: 1000px) {
	#origin, #target {
		height: 250px;
	}
}
@media (max-width: 850px) {
	#container {
		display: flex;
		flex-direction: column;
	}
	#options {
		order: 1;
	}
}
#options {
	float: right;
	font-size: 18px;
}
#options-title {
	margin-left: 44px;
	border-bottom-color: #98adcb;
}
#options div {
	margin-left: 30px;
}
#options .multiline {
  display: flex;
  align-items: baseline;
}
label {
	cursor: pointer;
	font-family: Cantarell, --font-cantarell, "Noto Sans CJK HK", "Noto Sans HK", --font-noto-sans-hk, -apple-system,
				 BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 20px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
code {
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
}
input[type=checkbox], input[type=radio] {
	cursor: pointer;
	width: 18px;
	height: 18px;
	position: relative;
	top: 2px;
	margin-left: 16px;
	margin-right: 8px;
}
:checked + label ~ .false-only, :not(:checked) + label ~ .true-only {
	opacity: 0.4;
	pointer-events: none;
}
#options #separator-title {
	font-size: 20px;
	font-weight: bold;
	margin-left: 16px;
}
#options input[type=radio] {
	margin-left: 0;
}
input[type=text] {
	font-family: Cantarell, --font-cantarell, "Noto Sans CJK JP", "Noto Sans JP", --font-noto-sans-jp, -apple-system,
				 BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 16px;
	width: 48px;
}
p {
	margin: 0;
	font-size: 20px;
	font-weight: bold;
	color: red;
}
.simple-table {
  border-collapse: collapse;
  font-size: 18px;
}
.simple-table thead {
  border-bottom: 1px solid darkgrey;
}
.simple-table tr {
  vertical-align: baseline;
}
.simple-table tr * {
  padding: 2px 8px;
}
.simple-table tr :first-child {
  text-align: right;
  border-right: 1px solid darkgrey;
}
